.title {
  text-align: center;
  font-size: 50px;
}
.category-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5%;
}
.name {
  font-size: 30px;
  font-weight: 900;
}

.desc {
  font-size: 20px;
}
